
body {

    vertical-align: middle;
    background-image: url(../assets/images/fondo2.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-position: 100%;
}   


/* Navbar */

.nav-extended {
    z-index:999999999;
}

.nav-wrapper {
    margin: 0 30px
}

.imglogo img{
width: 30%;
}

@media only screen and (max-width: 992px){

nav .brand-logo {
 -webkit-transform: none; 
transform:none; 

}
}

/* Fin Navbar */

/* fondo blanco */


.card-panel {

    margin: auto;
}

/* Fin fondo blanco */

.kv-avatar .krajee-default.file-preview-frame,.kv-avatar .krajee-default.file-preview-frame:hover {
    margin: 0;
    padding: 0;
    border: none;
    box-shadow: none;
    text-align: center;
}
.kv-avatar {
    display: inline-block;
}
.kv-avatar .file-input {
    display: table-cell;
    width: 213px;
}

.logo-rolling {
    width: 30%;
    margin-left: 40%;
}

