body{
	vertical-align: middle;
    background-image: url(../assets/images/fondo2.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-position: center
}

header .brand-logo {
	margin-top: 0;
	padding: 5px 5px;
	width: 30%;
	
}

ul.side-nav.fixed li.logo {
    text-align: center;
    
	margin-bottom: 10px;
}


nav{
	background: rgb(250,223,68);
    background: -moz-linear-gradient(left, rgb(250,223,68) 0%, rgb(250,30,52) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgb(250,223,68)), color-stop(100%, rgb(250,30,52)));
    background: -webkit-linear-gradient(left, rgb(250,223,68) 0%, rgb(250,30,52) 100%);
    background: -o-linear-gradient(left, rgb(250,223,68) 0%, rgb(250,30,52) 100%);
    background: -ms-linear-gradient(left, rgb(250,223,68) 0%, rgb(250,30,52) 100%);
    background: linear-gradient(to right, rgb(250,223,68) 0%, rgb(250,30,52) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fadf44 ', endColorstr='#fa1e34 ', GradientType=1 );
}

ul.side-nav.leftside-navigation {
	top: 64px;
	overflow: hidden;
}

nav .nav-wrapper {
	position: relative;
	height: 100%;
}

.navbar-fixed {
	position: relative;
	height: 56px;
	z-index: 998;
}

/* columna Fija */
ul#nav-mobile {
    background: lightgoldenrodyellow;
}

input.header-search-input {
	display: block;
	padding: 8px 8px 8px 72px;
	width: 100%;
	background: rgba(255,255,255,0.3);
	height: 24px;
	-webkit-transition: all 200ms ease;
	transition: all 200ms ease;
	border: none;
	font-size: 16px;
	appearance: textfield;
	font-weight: 400;
	outline: none;
	border-radius: 3px;
}

a#logo-container {
    height: fit-content;
    padding-top: 15px;
}

/* Fin de columna Fija */



/* main */

.caption.container.containercard {
    display: inline-block;
	margin-left: 20px;
}


header, main, footer {
    padding-left: 300px;
}

@media only screen and (max-width: 992px)
{
.side-nav.fixed {
    -webkit-transform: translateX(-105%);
    transform: translateX(-105%);
}

header, main, footer {
    padding-left: 0px;
}

.caption{
	zoom: .9;

}

.caption.container.containercard {
	display: block;
}


@media only screen and (max-width: 992px)
{
	
}
nav .nav-wrapper {
		text-align: center;
}
}

.card-container.grey-text.text-darken-4.text-post.post-container.col.l12 {
    /* display: inline-block; */
    margin-left: 0;
    padding: 0;
	width: 75%;
}

/* Chat */

* {
	-webkit-box-sizing: border-box;
			box-sizing: border-box;
  }
  
  body {
	/* position: relative; */
	background-color: #FF5722;
  }
  
  .title {
	color: #ffffff;
	text-align: center;
	font-weight: 100;
  }
  
  .wrapper {
	height: 520px;
	width: 320px;
	overflow: hidden;
	background-color: white;
	position: fixed;
	top: 100px;
	left: 50%;
	-webkit-transform: translateX(-50%);
			transform: translateX(-50%);
	-webkit-box-shadow: 0px 3px 3px 0px rgba(50, 50, 50, 0.5);
			box-shadow: 0px 3px 3px 0px rgba(50, 50, 50, 0.5);
	-webkit-transition: 0.3s ease;
	transition: 0.3s ease;
  }
  .wrapper .inner {
	overflow: scroll;
	height: 520px;
	padding-top: 64px;
	background: #f2f2f2;
	-ms-overflow-style: none;
	overflow: -moz-scrollbars-none;
  }
  .wrapper .inner::-webkit-scrollbar {
	width: 0 !important;
  }
  .wrapper .inner .content {
	padding: 10.6666666667px;
	position: relative;
	margin-bottom: 32px;
  }
  
  .nav {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 64px;
	z-index: 100;
	-webkit-transition: 0.3s ease;
	transition: 0.3s ease;
  }
  .nav .default-nav {
	height: 64px;
	width: 100%;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 110;
	background-color: #F44336;
	border-bottom: 3px solid #ea1c0d;
	color: #ffffff;
	-webkit-box-shadow: 0px 3px 3px 0px rgba(50, 50, 50, 0.1);
	box-shadow: 0px 3px 3px 0px rgba(50, 50, 50, 0.1);
	-webkit-transition: 0.3s ease;
	transition: 0.3s ease;
  }
  .nav .default-nav .main-nav {
	position: absolute;
	left: 0;
	width: 100%;
	height: 64px;
	top: 0;
	margin: 0;
	padding: 0;
	list-style: none;
	-webkit-transition: 0.3s ease;
	transition: 0.3s ease;
  }
  .nav .default-nav .main-nav .toggle {
	height: 32px;
	width: 32px;
	background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/104946/ic_arrow_back_white_48dp.png);
	background-size: contain;
	margin: 16px;
	float: left;
  }
  .nav .default-nav .main-nav .toggle:hover {
	cursor: pointer;
  }
  .nav .default-nav .main-nav .options {
	height: 32px;
	width: 32px;
	background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/104946/ic_more_vert_white_48dp.png);
	background-size: contain;
	margin: 16px;
	position: absolute;
	right: 0;
  }
  .nav .default-nav .main-nav .options:hover {
	cursor: pointer;
  }
  .nav .default-nav .main-nav .main-nav-item {
	float: left;
	height: 64px;
	margin-right: 50px;
	position: relative;
	line-height: 64px;
	-webkit-transition: 0.3s ease;
	transition: 0.3s ease;
  }
  .nav .default-nav .main-nav .main-nav-item .main-nav-item-link {
	display: block;
	position: relative;
	height: 64px;
	width: 100%;
	text-align: center;
	line-height: 64px;
	text-decoration: none;
	color: inherit;
	-webkit-transition: 0.3s ease;
	transition: 0.3s ease;
  }
  
  .bottom {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	height: 64px;
	background: #ffffff;
	/* box-shadow: 0px -3px 3px 0px rgba(50, 50, 50, 0.1); */
  }
  .bottom .input {
	height: 64px;
	background: #ffffff;
	border: none;
	width: calc(100% - 64px);
	position: absolute;
	left: 0;
	top: 0;
	padding: 0 5%;
	resize: none;
	overflow: scroll;
	padding-top: 24px;
	font-weight: 300;
	-ms-overflow-style: none;
	overflow: -moz-scrollbars-none;
  }
  .bottom .input:focus {
	outline: none;
  }
  .bottom .input::-webkit-scrollbar {
	width: 0 !important;
  }
  .bottom .send {
	position: fixed;
	height: 42.6666666667px;
	width: 42.6666666667px;
	border-radius: 50%;
	border: 0;
	background: #F44336;
	color: #ffffff;
	bottom: 10.6666666667px;
	right: 10.6666666667px;
  }
  .bottom .send:before {
	content: '';
	background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/104946/ic_send_white_48dp.png) no-repeat center center;
	background-size: 25.6px;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
  }
  .bottom .send:focus {
	outline: none;
  }
  .bottom .send:hover {
	cursor: pointer;
  }
  
  .message-wrapper {
	position: relative;
	overflow: hidden;
	width: 100%;
	margin: 10.6666666667px 0;
	padding: 10.6666666667px 0;
  }
  .message-wrapper .circle-wrapper {
	height: 42.6666666667px;
	width: 42.6666666667px;
	border-radius: 50%;
  }
  .message-wrapper .text-wrapper {
	padding: 10.6666666667px;
	min-height: 42.6666666667px;
	width: 60%;
	margin: 0 10.6666666667px;
	-webkit-box-shadow: 0px 1px 0px 0px rgba(50, 50, 50, 0.3);
			box-shadow: 0px 1px 0px 0px rgba(50, 50, 50, 0.3);
	border-radius: 2px;
	font-weight: 300;
	position: relative;
	/* word-break: break-all; */
	opacity: 0;
  }
  .message-wrapper .text-wrapper:before {
	content: '';
	width: 0;
	height: 0;
	border-style: solid;
  }
  .message-wrapper.them .circle-wrapper, .message-wrapper.them .text-wrapper {
	background: #F44336;
	float: left;
	color: #ffffff;
  }
  .message-wrapper.them .text-wrapper:before {
	border-width: 0 10px 10px 0;
	border-color: transparent #F44336 transparent transparent;
	position: absolute;
	top: 0;
	left: -9px;
  }
  .message-wrapper.me .circle-wrapper, .message-wrapper.me .text-wrapper {
	background: #FF5722;
	float: right;
	color: #333333;
  }
  .message-wrapper.me .text-wrapper {
	background: #ffffff;
  }
  .message-wrapper.me .text-wrapper:before {
	border-width: 10px 10px 0 0;
	border-color: #ffffff transparent transparent transparent;
	position: absolute;
	top: 0;
	right: -9px;
  }
  
  @media (max-width: 560px) {
	.wrapper {
	  width: 100%;
	  height: 100%;
	  height: 100vh;
	  top: 0;
	  left: 0;
	  -webkit-transform: translateX(0);
			  transform: translateX(0);
	}
	.wrapper .inner {
	  height: 100%;
	  height: 100vh;
	}
  }