body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    vertical-align: middle;
    background-image: url(../assets/images/fondo2.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 120vh;
    background-position: center;
  }

  /* Clase general para los bordes de los botones */
  .border-radius {
    border-radius: 10px;
  }

  main {
    flex: 1 0 auto;
  }

  .text {
    color: #fff;
  }

  .logo-rolling {
    width: 30%;
    cursor: pointer;
}


  .input-field input[type=date]:focus + label,
  .input-field input[type=text]:focus + label,
  .input-field input[type=email]:focus + label,
  .input-field input[type=password]:focus + label {
    color: #e91e63;
  }

  .input-field input[type=date]:focus,
  .input-field input[type=text]:focus,
  .input-field input[type=email]:focus,
  .input-field input[type=password]:focus {
    border-bottom: 2px solid #e91e63;
    box-shadow: none;
  }

  @media only screen and (min-width: 992px){
    
    .form-container {
        border-radius: 20px;
    }
  
    body {
      height: 100vh;
    }
  }

