body{
  background: rgb(250,223,68);
  background: -moz-linear-gradient(left, rgb(250,223,68) 0%, rgb(250,30,52) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgb(250,223,68)), color-stop(100%, rgb(250,30,52)));
  background: -webkit-linear-gradient(left, rgb(250,223,68) 0%, rgb(250,30,52) 100%);
  background: -o-linear-gradient(left, rgb(250,223,68) 0%, rgb(250,30,52) 100%);
  background: -ms-linear-gradient(left, rgb(250,223,68) 0%, rgb(250,30,52) 100%);
  background: linear-gradient(to right, rgb(250,223,68) 0%, rgb(250,30,52) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fadf44', endColorstr='#fa1e34', GradientType=1 );}
    
  .view-splash {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh
  }
  
  img {
    animation: zoom 1s ease-in-out;
    animation-iteration-count: infinite;
  }
  
  @keyframes zoom {
    0% {
        transform: scale(1.0)
    }
  
    50% {
      transform: scale(1.50)
    }
  
    100% {
        transform: scale(1.0)
    }
  }
  