* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Navbar */

nav {
    height: 100px;
    background: rgb(250,223,68);
    background: -moz-linear-gradient(left, rgb(250,223,68) 0%, rgb(250,30,52) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgb(250,223,68)), color-stop(100%, rgb(250,30,52)));
    background: -webkit-linear-gradient(left, rgb(250,223,68) 0%, rgb(250,30,52) 100%);
    background: -o-linear-gradient(left, rgb(250,223,68) 0%, rgb(250,30,52) 100%);
    background: -ms-linear-gradient(left, rgb(250,223,68) 0%, rgb(250,30,52) 100%);
    background: linear-gradient(to right, rgb(250,223,68) 0%, rgb(250,30,52) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fadf44 ', endColorstr='#fa1e34 ', GradientType=1 );
}

.nav-extended {
    z-index:999999999;
}

.nav-wrapper {
    margin: 0 30px
}

.imglogo img{
width: 30%;
}


.logo {
    width: 80%;
    margin-left: 80%;
    padding-top: 10%;
}
.row {
    margin-bottom: 0;
}

.portada {
    background-image: url('../assets/images/notebook.jpg');
    height: 50vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
}


.user {
    width: 15%;
    border: 3px solid #f41e34;
}

.user-image {
    margin-left: 5% !important;
}


.card {
    background-color: none; 
    border: 1px solid #bebaba;
    color: #bebaba;;
    margin-left: 2% !important;
}

.container-display div img {
    width: 100%;
}

.btn-img {
    margin-top: 2.3em;
    margin-bottom: 2em;  
}

.btn-new-starter {
    background-color: #fadf44;
    color: #fff;
    margin-top: 1em;
}


.title-img {
    color: #fff;
    background-color: #f41e34;
    padding: 1em 2em;
    border-radius: 5px;
    margin: 1em;
    cursor: pointer;
}

.card-container, .history {
    margin-top: 80px;
}

hr {
    margin-top: 4em;
}

.text-post {
    color: #000;
    text-transform: capitalize;
}

.post-container {
    background-color: #fadf44;
}


.history {
   background-image: url('../assets/images/ficha.jpg');
   background-repeat: no-repeat;
   margin-left: 2% !important;
   color: #fff;
   border-radius: 5px;
}

.friend {
    width: 30%;
    margin-top: 1.5em;
    margin-left: 12em;
    margin-right: 2em;
}

.nombre {
    display: inline-block;
}

.display-post {
    display: flex;
    justify-content: center;
    align-items: center
}

.display-p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}

.add-friend {
    margin-left: 2em;
    font-size: 3em;
    cursor: pointer;
}

.tap-target {
    background-color: #fa1e34;
    color: #fff;
}

.tap-target-wrapper {
    right: -0.95px !important;
} 



@media only screen and (max-width: 992px){  
    nav .brand-logo {
     -webkit-transform: none; 
    transform:none; 
    }
}