* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Clase general */
.space-up{
    margin-top: 1.5em;
}

.space-down {
    margin-bottom: 1.5em;
}

.border-radius {
    border-radius: 10px;
}


/* Navbar */

nav {
    height: 100px;
    background: rgb(250,223,68);
    background: -moz-linear-gradient(left, rgb(250,223,68) 0%, rgb(250,30,52) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgb(250,223,68)), color-stop(100%, rgb(250,30,52)));
    background: -webkit-linear-gradient(left, rgb(250,223,68) 0%, rgb(250,30,52) 100%);
    background: -o-linear-gradient(left, rgb(250,223,68) 0%, rgb(250,30,52) 100%);
    background: -ms-linear-gradient(left, rgb(250,223,68) 0%, rgb(250,30,52) 100%);
    background: linear-gradient(to right, rgb(250,223,68) 0%, rgb(250,30,52) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fadf44 ', endColorstr='#fa1e34 ', GradientType=1 );
}

.nav-extended {
    z-index:999999999;
}

.nav-wrapper {
    margin: 0 30px
}

.imglogo img{
width: 30%;
}


.logo {
    width: 80%;
    margin-left: 80%;
    padding-top: 10%;
}
.row {
    margin-bottom: 0;
}

.portada {
    background-image: url('../assets/images/notebook.jpg');
    height: 50vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
}

.user-img-div {
    width: 15%;
}

.user {
    border-radius: 20px;
}

.user-details {
    margin-left: 2em !important;
}

.card {
    background-color: none; 
    border: 1px solid #bebaba;
    color: #bebaba;;
    margin-left: 2% !important;
}

.container-display div img {
    width: 100%;
}

.btn-img {
    margin-top: 2.3em;
    margin-bottom: 2em;  
}

.btn-new-starter {
    background-color: #fadf44;
    color: #fff;
    margin-top: 1em;
}


.title-img {
    color: #fff;
    background-color: #f41e34;
    padding: 1em 2em;
    margin: 1em;
    cursor: pointer;
    border-radius: 10px;
}

.card-container, .history {
    margin-top: 80px;
}

hr {
   margin-top: 2em;
}

.text-post {
    color: #000;
    text-transform: capitalize;
}

.post-container {
    border-color:  #fadf44;
}

/* Estilo de la ficha */

.text-pink {
 color: #fff;
 background-color: #f41e34;
}
.history {
   /*background-image: url('../assets/images/ficha.jpg');*/
   background-repeat: no-repeat;
   margin-left: 2% !important;
   color: #000;
   border: 2px solid rgb(192, 186, 186);
   border-radius: 5px;
   padding-left: 1em;
   padding-right: 1em;  
}

.friend {
    width: 30%;
    margin-top: 1.5em;
    margin-left: 12em;
    margin-right: 2em;
}

.nombre {
    display: inline-block;
}

.display-post {
    display: flex;
    justify-content: center;
    align-items: center
}

.display-p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}

.add-friend {
    margin-left: 2em;
    font-size: 3em;
    cursor: pointer;
}

.tap-target {
    background-color: #fa1e34;
    color: #fff;
}

.tap-target-wrapper {
    right: -0.95px !important;
} 

/* Estilo del modal de crear starter */

.modal {
    width: 40%;
}

.container-mod-title {
    background-color: #fa1e34;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 1em;
    color: #fff;
}

form {
    border: 3px solid #fa1e34;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px; 
}
/* Input de selección de imagen */

.preview a {
    position: absolute;
    bottom: 5px;
    left: 5px;
    right: 5px;
}

#file-info {
    display: block;
   
}

.card {
    width: 60%;
    height: 30vh;
    margin: 0 auto !important;
    margin-top: 2em;
    margin-bottom: 2em;
    position: relative;
}

.card img {
    width: 60%;
}

input[type=file] {
    position: absolute;
    visibility: hidden;
    width: 0;
    z-index: -9999;
} 

.btn-delate-img {
    margin-top: 2em;
}

#file-info-cover, #file-info-st {
    margin-left: 20%;
}

.modal-close {
    background-color: #fa1e34;;
    border-radius: 10px;
    color: #fadf44
}

@media only screen and (max-width: 992px){  
    nav .brand-logo {
     -webkit-transform: none; 
    transform:none; 
    }
}

@media only screen and (min-width: 992px) {
    .user-img-div {
        margin-left: 5% !important;
    }
    
}

@media (max-width:600px) {
    .modal {
        width: 90%;
    }

    .input-img {
        width: 60%;
        margin-left: 4em;
    }
    
}