body {

    vertical-align: middle;
    background-image: url("../assets/images/fondo2.png");
    background-repeat: no-repeat;
    background-position: 100%;
    background-size: cover;
    height: auto;
}   

/* Navbar */

.nav-extended {
    z-index:999999999;
}

.nav-wrapper {
    margin: 0 30px
}

/* Fin Navbar */

.slider .slides li .caption {
    top: 30%;
}

.slider .slides{
    background-color: #5f4a00;
}

.slidessize img{
    opacity: 0.6;
}

.material-icons {
    font-size: 60px;
    color: #4caf50;
}


.callout {
    position: relative;
    z-index: 10;
    top: 80%;
}

.brand-logo img{
    width: 30%;
}

.card-panel {

    margin: auto;
}
   


@media (max-width: 812px) and (orientation: landscape), only screen and (max-width: 700px) and (orientation: portrait)
 {
    .caption{
    zoom: .7;
 }

 .waves-effect {
    margin-top: 20px;
 }
}

@media (max-width: 993px) {

}

@media only screen and (max-width: 992px) {
    nav .brand-logo {
        left: 50%;
        webkit-transform: none;
        transform: none;

}