body {
<<<<<<< HEAD
display: flex;
min-height: 100vh;
flex-direction: column;
vertical-align: middle;
background-image: url(../assets/images/fondo2.png);
background-repeat: no-repeat;
background-size: cover;
height: 100vh;
background-position: center;
=======

    vertical-align: middle;
    background-image: url(../assets/images/fondo2.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 130vh;
    background-position: center;
>>>>>>> f876acf20c777f7cc15a62a2ab11e2ea11efd64f
}

/* Navbar */

.nav-extended {
  z-index:999999999;
}

.nav-wrapper {
  margin: 0 30px
}

/* Fin Navbar */

.slider .slides li .caption {
  top: 30%;
}
/*
.slider .slides{
<<<<<<< HEAD
  background-color: #5f4a00;
}

.slidessize img{
  opacity: 0.6;
}

.material-icons {
  font-size: 60px;
  color: #4caf50;
=======
    background-color: #5f4a00;
} 

.slidessize img{
    opacity: 0.6;
} */

.card-panel {
    margin-top: 3em !important;
}

.logo-rolling {
    width: 20%;
}

.container-logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.material-icons {
    font-size: 60px;
    color: #f41e34;
>>>>>>> f876acf20c777f7cc15a62a2ab11e2ea11efd64f
}


.callout {
  position: relative;
  z-index: 10;
  top: 80%;
}

.brand-logo img{
  width: 30%;
}

.card-panel {
  margin: auto;
  width: 50%;
}
   


@media (max-width: 812px) and (orientation: landscape), only screen and (max-width: 700px) and (orientation: portrait)
 {
  .caption{
    zoom: .7;
  }

 .waves-effect {
    margin-top: 20px;
  }
}

@media (max-width: 993px) {
  .card-panel {
    margin: auto;
    width: 90%;
  } 
}

@media only screen and (max-width: 992px) {
<<<<<<< HEAD
  nav .brand-logo {
    left: 50%;
    -webkit-transform: none;
    transform: none;
  }
=======
    nav .brand-logo {
        left: 50%;
        -webkit-transform: none;
        transform: none;
    }    
>>>>>>> f876acf20c777f7cc15a62a2ab11e2ea11efd64f
}