<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../vendors/materialize/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="../css/create-profile.css">
    <title>Crear perfil</title>
</head>
<body>

  <!-- Navbar 
    <nav class="nav-extended transparent z-depth-0">
      <div class="nav-wrapper">
        <div class="imglogo">
          <a href="#" class="brand-logo">
            <img src="../assets/logotipo/logowhite.png">
          </a>
        </div>
      </div>
    </nav> -->

    <!-- Fin Navbar -->

  <div class="container card-panel">  
    <div class="row">
      <div class="col s10 offset-s1 col l12">
        <h2 class="center-align">Empieza a crear tu mundo</h2>
        <h5 class="flow-text center-align">Crea los datos personales de tu personaje</h5>
        <br>
      </div>
    </div>
    
    <div class="row">
      <div class="col s12 m4 l4 container-pg">
        <!-- Logotipo -->
        <div class="row">
          <div class="col s12 col m12 col l12">
            <img src="../assets/logotipo/logo.png" alt="rolling" class="logo-rolling">
          </div>
        </div>
        <!--Estructura para subir imagen -->  
        <div class="">
          <h6 class="flow-text center-align">Selecciona una imagen de máximo 5MB</h6>
        </div>
        <div class="card preview valign-wrapper">
          <a href="#" id="file-select" class="btn">Elige una foto</a>    
          <img>
        </div>
        <div>
          <span id="file-info" class="center-align">Aún no haz seleccionado una foto</span>
         </div>
         <input type="file" name="file" id="file">
      </div>
      <!-- Formulario -->
      <div class="col s12 l8"> 
        <div class="row">
          <form class="col s12 col l12" action="" method="post">
            <div class="row">
              <div class="input-field col s8 offset-s2">
                <i class="material-icons prefix">account_circle</i>
                <input id="icon_prefix" type="text" class="validate pg-name">
                <label for="icon_prefix">Nombre de tu personaje</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s8 offset-s2">
                <i class="material-icons prefix">filter_3</i>
                <input id="icon_prefix" type="number" class="validate pg-age">
                <label for="icon_prefix">Edad</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s8 offset-s2">
                <i class="material-icons prefix">event</i>
                <label for="icon_prefix"></label>
                <input type="text" class="datepicker date-birth" placeholder="Fecha de nacimiento">
              </div>
            </div>
            <div class="row">
              <div class="input-field col s8 offset-s2">
                <i class="material-icons prefix">edit_location</i>
                <select class="genero">                  
                  <option value="" disabled selected> Género</option>
                  <option value="1">Mujer</option>
                  <option value="2">Hombre</option>
                </select>
                <label></label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s8 offset-s2">
                <i class="material-icons prefix">edit_location</i>
                <select class="country">                  
                  <option value="" disabled selected> País de residencia</option>
                  <option value="1">Perú</option>
                  <option value="2">Korea del Sur</option>
                  <option value="3">Inglaterra</option>
                  <option value="4">Rusia</option>
                  <option value="5">Japón</option>
                </select>
                <label></label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s8 offset-s2">
                <i class="material-icons prefix">favorite</i>
                <select class="relationship">                  
                  <option value="" disabled selected>Estado civil</option>
                  <option value="1">Soltero</option>
                  <option value="2">En una relación</option>
                  <option value="3">Casado</option>
                  <option value="4">Separado</option>
                </select>
                <label></label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s8 offset-s2">
                <i class="material-icons prefix">fingerprint</i>
                <select class="thematic">                  
                  <option value="" disabled selected>Temática</option>
                  <option value="1">Ninguno</option>
                  <option value="2">Ciudad</option>
                  <option value="3">Fantasía</option>
                  <option value="4">Paranormal</option>
                  <option value="5">Estudiante</option>
                </select>
                <label></label>
              </div>
            </div>
            <div class="row">
              <div class="col l5 offset-l5 col s5 offset-s4">
                <button class="btn waves-effect waves-light btn-start" type="button" name="action" disabled>¡Empezar!</button>
              </div>
            </div>
          </form> 
        </div> 
      </div>
    </div>
  </div>
  
  <script src="../vendors/js/jquery-3.2.1.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script src="../vendors/materialize/js/materialize.min.js"></script>
  <script src="../js/create-profile.js"></script>  
</body>
</html>

