<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="../vendors/materialize/css/materialize.min.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="../vendors/materialize/css/materialize-social.css">
	<link rel="stylesheet" href="../css/inicio.css">
	<title>Inicio</title>
</head>

<body>

		<nav class="top-nav">
				<div class="nav-wrapper">
					  <a href="#" data-activates="mobile-demo" class="button-collapse">
							  <i class="material-icons">menu</i>
							</a>
					<ul  class="right hide-on-med-and-down">
					  <li>
						<a id="menu" class="waves-effect waves-light btn btn-floating"><i class="material-icons">group_add</i></a>
					  </li>
					  <li>
						<a href="/views/profile.html" title="profile"></a><i class="material-icons">person</i></a>
					  </li>
					  <li>
						<a href="/views/inicio.html"><i class="material-icons">chat</i></a>
					  </li>
					  <li>
						<a href="/views/inicio.html"><i class="material-icons">notifications</i></a>
					  </li>
					  <li>
							<a href="#" title="cerrar sesion" class="waves-effect waves-teal signOut"><i class="material-icons left">power_settings_new</i></a>
						</li>
					</ul>
				  </div>
			</nav>

	<ul id="nav-mobile" class="side-nav fixed" style="transform: translateX(0%);">
		<li class="logo">
			<a id="logo-container" href="#" class="brand-logo">
				<img src="../assets/logotipo/logo2.png">
			</a>
		</li>

		<div class="container">
			<div class="row center">
				Hola
				<h4 id="dataperfil">Asura</h4>
			</div>
		</div>


		<li class="bold">
			<a href="#" class="waves-effect waves-teal">
				<i class="material-icons left">web</i>Noticias</a>
		</li>
		<li class="bold">
			<a href="#" class="waves-effect waves-teal">
				<i class="material-icons left">forum</i>Mensajes</a>
		</li>

		<li class="no-padding">
			<ul class="collapsible collapsible-accordion">
				<li class="bold">
					<a class="orange collapsible-header waves-effect waves-teal" style="color:white">
						Perfiles<i class="material-icons left" style="color:white">arrow_drop_down</i></a>
					<div class="collapsible-body">
						<ul>
							<li class="bold">
								<a href="#" class="waves-effect waves-teal">
									<i class="material-icons left">add</i>Crea Perfiles</a>
							</li>
							<li>
								<a href="#">
									<i class="material-icons left">person</i>Perfil 1</a>
							</li>
							<li>
								<a href="#">
									<i class="material-icons left">person</i>Perfil 2</a>
							</li>
							<li>
								<a href="#">
									<i class="material-icons left">person</i>Perfil 3</a>
							</li>
							<li>
								<a href="#">
									<i class="material-icons left">person</i>Perfil 4</a>
							</li>
							<li>
								<a href="#">
									<i class="material-icons left">person</i>Perfil 5</a>
							</li>
						</ul>
					</div>
				</li>
				<li class="bold active">
					<a class="collapsible-header active waves-effect waves-teal">
							<i class="material-icons left">arrow_drop_down</i>Hermandades</a>
					<div class="collapsible-body" style="display: block;">
						<ul>
							<li>
								<a href="#">
									<i class="material-icons left">multiline_chart</i>Hermandad1</a>
							</li>
							<li>
								<a href="#">
									<i class="material-icons left">multiline_chart</i>Hermandad2</a>
							</li>
							<li>
								<a href="#">
									<i class="material-icons left">multiline_chart</i>Hermandad3</a>
							</li>
						</ul>
					</div>
				</li>
			</ul>
		</li>
		<li class="bold">
			<a href="#" class="waves-effect waves-teal">
				<i class="material-icons left">favorite</i>Favoritos</a>
		</li>
		<li class="bold">
			<a href="#" class="waves-effect waves-teal">
				<i class="material-icons left">child_care</i>Amigos</a>
		</li>
		<li class="bold">
			<a href="#" class="waves-effect waves-teal signOut">
				<i class="material-icons left">power_settings_new</i>Cerrar Sesion</a>
		</li>
	</ul>

	<main>
		<div class="caption container containercard">
			<div class="row">

				<div class="card col s12 m9 110">
					<div class="card-image waves-effect waves-block waves-light">
						<!--<img class="activator" src="images/office.jpg"> -->
					</div>
					<div class="card-content">
						<span class="card-title activator grey-text text-darken-4">Mi mundo</span>
						<a class="btn-floating halfway-fab waves-effect waves-light red">
							<i class="material-icons">add_a_photo</i>
						</a>
						<textarea id="textarea-post" class="materialize-textarea grey-text text-darken-4" placeholder="¿Qué vas a crear hoy?"></textarea>
						<label for="textarea-post" class="active"></label>
						<button class="btn waves-effect waves-light btn-post" type="button" name="action">Crear
							<i class="material-icons right">border_color</i>
						</button>
					</div>
				</div>

				<!--Mi Posteo-->

				<div class="card-container grey-text text-darken-4 text-post post-container col l12">

				</div>
			</div>
		</div>


		<a href="https://plus.google.com/hangouts/_?gid=APP_ID" style="text-decoration:none;">
			<img src="https://ssl.gstatic.com/s2/oz/images/stars/hangout/1/gplus-hangout-15x79-normal.png" alt="Start a Hangout" style="border:0;width:79px;height:15px;"
			/>
		</a>

		<!-- Chat -->
		<div class="wrapper">
			<nav class="nav" id="nav">
				<div class="default-nav">
					<div class="main-nav">
						<div class="toggle"></div>
						<div class="main-nav-item">
							<a class="main-nav-item-link" href="#">Blake</a>
						</div>
						<div class="options"></div>
					</div>
				</div>
			</nav>
			<div class="container containerchat">
				<div class="row">
					<form action="">
						<div>
							<label for="nombre">Nombre</label>
							<input type="text" id="nombre">
						</div>
						<div>
							<label for="mensaje">Mensaje</label>
							<textarea name="" id="mensaje" cols="30" rows="10"></textarea>
						</div>
						<button type="button" id="btnenviar">Enviar</button>
					</form>

					<ul id="chatul">
						<li>
							<b>Nombre:</b> Mensaje
						</li>
						<li>
							<b>Nombre:</b> Mensaje
						</li>
					</ul>
				</div>
			</div>

		</div>


	</main>



	<script src="../vendors/js/jquery-3.2.1.min.js"></script>
	<script src="../vendors/materialize/js/materialize.min.js"></script>
	<script src="https://www.gstatic.com/firebasejs/4.8.1/firebase.js"></script>
	<script src="https://www.gstatic.com/firebasejs/4.2.0/firebase-app.js"></script>
	<script src="https://www.gstatic.com/firebasejs/4.2.0/firebase-auth.js"></script>
	<script src="https://www.gstatic.com/firebasejs/4.2.0/firebase-database.js"></script>
	<script src="https://www.gstatic.com/firebasejs/4.2.0/firebase-storage.js"></script>
	<script src="../vendors/js/firebaseapp.js"></script>
	<script src="../js/inicio.js"></script>
</body>

</html>