<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../vendors/materialize/css/materialize.min.css">
    <link href="../vendors/bootstrap-fileinput-master/css/fileinput.css" media="all" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="../css/profile.css">
    <title>Crear perfil</title>
    <title>Document</title>
</head>
<body>
    gfh
    <script src="../vendors/js/jquery-3.2.1.min.js"></script>
    <script src="../vendors/js/profile.js"></script>
</body>
</html>