<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../vendors/materialize/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="../css/sign-up.css">
    <title>Sign up</title>
</head>

<body>

    <!-- Navbar -->
    <nav class="nav-extended transparent z-depth-0">
        <div class="nav-wrapper">
            <div class="imglogo">
                <a href="#" class="brand-logo">
                    <img src="../assets/logotipo/logowhite.png">
                </a>
            </div>

        </div>
    </nav>
    <!-- Fin Navbar -->


    <!-- Registro -->
    <div class="container card-panel col s12 z-depth-4 container-sign-up">
        <div class="row">
            <div class="col s12 center">
                <h3 class="flow-text">
                    <strong>¡Bienvenido a Rolling!</strong>
                </h3>
                <h4 class="flow-text">Ya casi estas listo para formar parte de nuestra comunidad</h4>
            </div>
        </div>

        <div class="row">
            <form class="col s12">
                <div class="row">
                    <div class="input-field col s6">
                        <input id="first_name" type="text" class="validate">
                        <label for="first_name">Nombre</label>
                    </div>
                    <div class="input-field col s6">
                        <input id="last_name" type="text" class="validate">
                        <label for="last_name">Apellido</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="email" type="email" class="validate">
                        <label for="email" class="">E-mail</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="password" type="password" class="validate">
                        <label for="password">Contraseña</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12 ">
                        <input id="confirm-password" type="password" class="validate">
                        <label for="password">Confirmar contraseña</label>
                    </div>
                </div>
            </form>
        </div>
        <div class="row">
            <div class="col s10 push-s1 col m10 push-m2 col l8 push-l3">
                <form action="#">
                    <p>
                        <input type="checkbox" class="filled-in" id="filled-in-box">
                        <label for="filled-in-box">Acepto los términos y condiciones</label>
                    </p>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="center">
                <button class="btn waves-effect waves-light btn-sign-up" type="submit" name="action" disabled="">Crear
                    <i class="material-icons right">send</i>
                </button>
            </div>
        </div>
    </div>
    <!-- Fin de Registro -->

    <script src="../vendors/js/jquery-3.2.1.min.js"></script>
    <script src="../vendors/materialize/js/materialize.min.js"></script>
    <script src="../js/sign-up.js"></script>
</body>

</html>